.header {
    display: flex;
    justify-content: center;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
}

.post {
    width: 30%;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
}

.post > h2, .post > p:first-of-type {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px;
}

.post > p:first-of-type {
    float: right;
    color: gray;
}

.post > img {
    margin-top: 0;
    width: 100%;
    height: auto;
    display: block;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.post > p:last-of-type {
    margin: 10px 10px;
    padding: 5px;
}